---
layout: landing-header
---

<div class="bgimg">
  <div class="middle">
    <span><a href="https://www.instagram.com/_derekbaker/"> Amateur photographer </a>| </span>
    <span> <a href="https://github.com/backslashbaker"> Junior Developer </a> | </span>
    <span> <a href="https://soundcloud.com/backslashpod"> Backslash co-host </a> </span>
    <br>
    <br>
    <hr>
  </div>
  <div class="bottomleft">
    <a href="mailto:hello@derekbaker.co"> contact: hello@derekbaker.co</a>
  </div>
</div>

</div>
